.text-align-center {
    text-align: center;
}

.ant-form-item-control-input {
    width: 300px;
}

.form-center {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
}

.registration {
    transform: translate(-68%, 0%);
}

.login {
    transform: translate(-58%, 0%);
}